.page-section {
  .section-title {
    text-align: center;
    //margin-bottom: 30px;
    //font-size: 36px;
    //padding-top: 100px;
  }
  &.panel-top {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    .panel-top-header-section {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      margin: 0 auto;
      .panel-top-heading {
        //font-size: 96px;
      }
      .panel-top-subheading {
        //font-size:48px;
      }
    }

    .scoll-down-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon-arrow-down {
        margin-top: 15px;
        //width: 72px;
        //font-weight: bold;
        //transform: rotate(90deg);
      }
    }
  }

  .my-info-text-section {
    padding-right: 100px;
    padding-left: 30px;

    @media only screen and (max-width: 800px) {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 25px;
    }
  }

  .my-info-image {
    height: auto;
    width: 100%;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .project-tile-shell {
      padding: 10px;
      height: auto;
      width: 33.33%;

      @media only screen and (max-width: 800px) {
        width: 50%;
      }
    }

    .project-tile {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      //border: 1px solid #ececec;
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }

      .project-tile-title {
        background: rgba(33,33,33,0.50);
        z-index: 2;
        color: #000000;
        position: absolute;
        bottom: -100px;
        right: 0;
        left: 0;
        transition: all 200ms ease-in-out;
        padding: 10px 15px;
        font-size: 14.22px;
        line-height: 20px;
        letter-spacing: 0.25px;
        margin-bottom: 0;
        text-align: center;
        border-radius: 2px;
      }

      &:hover {
        //border: 1px solid black;
        .project-tile-title {
          bottom: 0;
        }
      }
    }
  }
}

.project-change-section {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #636363;
  font-size: 12px;
  cursor: pointer;

  .prev-button {
    text-align: left;
    margin-left: 30px;

    &.hidden-button {
      visibility: hidden;
    }

    @media only screen and (max-width: 600px) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .next-button {
    text-align: right;
    margin-right: 30px;

    &.hidden-button {
      visibility: hidden;
    }

    @media only screen and (max-width: 600px) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .close-button {
    flex-grow: 1;
    text-align: center;
    img {
      height: auto;
      margin: 0 auto;
    }
  }
}
