<div class="container">
  <main class="home-container" *ngIf="selectedProject == null;">
    <div class="panel-top page-section">
      <div class="panel-top-header-section">
        <h1 class="panel-top-heading">Hi, I'm Zach.</h1>
        <h2 class="panel-top-subheading">I design user interfaces.</h2>
      </div>
      <div class="scoll-down-link" (click)="scrollDown($event);">
        <span>SCROLL DOWN</span>
        <img class="icon-arrow-down" src="/assets/images/icon-down.svg"/>
      </div>
    </div>

    <div id="project-section" class="page-section">
      <h3 class="section-title">Work I've done.</h3>
      <div class="project-list">
        <div *ngFor="let project of projects" class="project-tile-shell">
          <div class="project-tile" (click)="openProject(project)">
            <img src="{{project.imageUrl}}">
            <p class="project.projectTitle" class="project-tile-title">{{project.projectTitle}}</p>
          </div>
        </div>
      </div>
    </div>

    <div id="my-info-section" class="page-section">
      <h3 class="section-title">Who I am.</h3>
      <div class="row">
        <div class="col-md-7 my-info-text-section">
          I am a graduating Graphic Design student at California State University, East Bay. Starting school as a Computer Science major and finally graduating as a Graphic Designer, I have learned what it takes to develop applications from all viewpoints. In my spare time I enjoy short walks with my French Bulldog, Cora, and working on my 1931 Ford Model A and 1974 Datsun 510 I built with my father in our garage. My dream of one day traveling to Japan is satiated by sushi and Japanese KitKats, for now.
        </div>
        <div class="col-md-5">
          <img src="/assets/images/mepicture.jpg" class="my-info-image">
        </div>
      </div>
    </div>
  </main>
  <main class="project-container" *ngIf="selectedProject">
    <app-project [(project)]="selectedProject"></app-project>
    <div class="project-change-section">
      <span class="prev-button" [ngClass]="{'hidden-button': hasPrevious(selectedProject) === false}" (click)="openPrevProject(selectedProject)">PREVIOUS PROJECT</span>
      <span (click)="closeSelectedProject();" class="close-button">
        <img src="/assets/images/backtoprojects.svg"/>
      </span>
      <span class="next-button" [ngClass]="{'hidden-button': hasNext(selectedProject) === false}" (click)="openNextProject(selectedProject)">NEXT PROJECT</span>
    </div>
  </main>
</div>
