.project-container {
  .project-title {
    font-family: 'Centrale Sans Bold';
    font-size: 60.96px;
    letter-spacing: -0.5px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }

  p, img {
    margin-bottom: 30px;
  }
}
