<div class="project-container">
  <h2 class="project-title">
    {{project.projectTitle}}
  </h2>
  <div class="project-showcase-section" [ngSwitch]="project.id">
    <div class="project-1" *ngSwitchCase="1;">
      <!-- <p></p>  -->
      <img src="/assets/images/garageSaleFullsize.jpg"/>
      <img src="/assets/images/GSPages.png"/>
      <p>GarageSale is a fictional company that provides a curated platform for users to buy and sell vehicles.</p>
      <h2 class="panel-top-subheading">Process</h2>
      <img src="/assets/images/process/gsWireframe1.jpg"/>
      <img src="/assets/images/process/gsWireframe2.jpg"/>
      <img src="/assets/images/process/gsWireframe3.jpg"/>
      <img src="/assets/images/process/gsWireframe4.jpg"/>
      <img src="/assets/images/process/gsWireframe5.jpg"/>
      <img src="/assets/images/process/gsWireframe6.jpg"/>
      <img src="/assets/images/process/gsWireframe7.jpg"/>
    </div>
    <div class="project-2" *ngSwitchCase="2;">
      <img src="/assets/images/NestMockup.jpg"/>
      <img src="/assets/images/nestTransport.svg" />
      <p>Logo design for a transport company.</p>

    </div>
    <div class="project-3" *ngSwitchCase="3;">
      <img src="/assets/images/sushiLandingMockup.jpg" />
      <img src="/assets/images/sushiLanding.gif" />
      <img src="/assets/images/sushiLanding.png" />
      <p>User interface mockup for a sushi restaurant with initial load animation.</p>
      <h2 class="panel-top-subheading">Process</h2>
      <img src="/assets/images/process/SushiWireframe.jpeg"/>
    </div>
    <div class="project-4" *ngSwitchCase="4;">
      <img src="/assets/images/ccCheckout.jpg" />
      <p>Mockup done for a mobile checkout highlighting the payment action.</p>
      <h2 class="panel-top-subheading">Process</h2>
      <img src="/assets/images/process/CreditCardWireframe.jpg"/>

    </div>
    <div class="project-5" *ngSwitchCase="5;">
      <img src="/assets/images/foodposters.jpg" />
      <img src="/assets/images/dragonfruit.svg" />
      <img src="/assets/images/donut.jpg" />
      <p>Illustrations of food as posters.</p>
    </div>

  </div>
</div>
