.project-container {
  .project-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 60.96px;
    letter-spacing: -0.5px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }

  p, img {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    //box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  }
}
